<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Site Changes</h3>
  </div>

  <div class="panel-body">
    <div class="row">
      <% @site_setting_log.site_changes.each do |site_change| %>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <%= site_change.first %> : <%= site_change.second %>
        </div><br><br>
      <% end %>
    </div>
  </div>
</div>
