<% content_for :page_title do %>
  <i class="fa fa-paper-plane"></i> Sent
<% end %>

<% content_for :page do %>
  <% if @conversations.count > 0 %>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th class="col-md-1">To</th>
        <th class="col-md-1"></th>
        <th class="col-md-6">Subject</th>
        <th class="col-md-3">Sent</th>
        <th class="col-md-1"></th>
      </tr>
    </thead>
  
    <tbody>
        <% @conversations.each do |convo| %>
          <tr class="conversation">
            <%= render partial: 'conversations/sentbox_conversation', locals: {conversation: convo} %>      
          </tr>
        <% end %>
    </tbody>  
  </table>
      
  <div class="text-center">
    <%= paginate @conversations, theme: 'twitter-bootstrap-3' %>
  </div>
  
  <% else %>
    <div class="alert alert-info">
      Your Sentbox is empty.
    </div>
  <% end %>
<% end %>

<%= render 'shared/conversations_nav', active: 'sent' %>