<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title"><%= t('signup.masseur_title') %></h4>
</div>

<div class="modal-body signup text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p><%= t('signup.masseur_intro') %></p>
      <%= render 'basic_form' %>
    </div>
  </div>
</div>