<h3 class="panel-title photo-queue-header">
		
				<i class="fa fa-photo"></i> Photos Awaiting Approval <small><%= (@photo_queue.count > 0 ? raw("<span class='photo-queue-count'>#{@photo_queue.count}</span> in queue") : '') %></small>
			</h3>