<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			<i class="fa fa-photo"></i> Photo Queue
		</h3>
	</div>
	
	<div  class="panel-body ">
		<%= render partial: 'admin/shared/photo_queue_table' %>
	</div>
</div>
