<td align="center" valign="top">
  	<!-- BEGIN BODY // -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
          <tr>
              <td valign="top" class="bodyContent">
                  <b><big>Welcome to Massage4Men!</big></b>
									
									<p>We are a new site and are happy to welcome you as a client. If we don't have any masseurs in your immediate area, please be patient. We are offering free ads for masseurs for 30 days so that we can populate our site with the best masseurs in all areas.</p>  

									<p>Do you know a masseur in your area who could benefit from being on M4M.net? Give him our website address and tell him to use promo code <b>REF90</b> and he will get a free account for 90 days - he will thank you for the referral!</p>

									<p>If you have any questions, comments or suggestions to make M4M.net the best resource for masseurs and clients on the internet, please contact me personally!</p>

									<p>
										Jeff<br>
										Owner and Administrator<br>
										M4M.net<br>
										<a href="mailto:admin@m4m.net">admin@m4m.net</a>
									</p>									
              </td>
          </tr>
      </table>
      <!-- // END BODY -->
  </td>
</tr>