<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <i class="fa fa-user"></i> About Me
    </h3>
  </div>
  
  <div class="panel-body">
    :about_me_<%= ad_type.downcase %>
  </div>
</div>