<h2>Masseurs Available Now Near You</h2>
<% if @nearby_masseurs.count > 0 %>
    <% @nearby_masseurs.in_groups_of(2, false).each do |group| %>
      <div class="row search-result">
        <% group.each do |result| %>
          <div class="col-md-6">
            <%= render 'shared/horizontal_ad_unit', result: result %>
          </div>
        <% end %>
      </div> <!-- /.row -->
    <% end %>
    
    <h2>All Available Masseurs</h2>
    <% @other_masseurs.in_groups_of(2, false).each do |group| %>
      <div class="row search-result">
        <% group.each do |result| %>
          <div class="col-md-6">
            <%= render 'shared/horizontal_ad_unit', result: result %>
          </div>
        <% end %>
      </div> <!-- /.row -->
    <% end %>
    <p></p>
<% else %>
  <% if @other_masseurs.count > 0 %>
    <div class="alert alert-warning">
      <i class="fa fa-exclamation-triangle"></i> We couldn't find any masseurs currently available within <%= pluralize(NEARBY_SEARCH_RADIUS, 'mile') %> of you, so here's everybody currently available.</i>
    </div>
  <% else %>
    <div class="alert alert-warning">
      <i class="fa fa-exclamation-triangle"></i> No masseurs have indicated that they are currently available.</i>
    </div>
  <% end %>
<% end %>