<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			<i class="fa fa-link"></i> Edit Tracking Link <small><%= @tracking_link.code %></small>
		</h3>
	</div>
	
	<div class="panel-body">
		<%= render 'form' %>
	</div>
</div>