<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			<i class="fa fa-envelope"></i> Edit System Email: &ldquo;<%= @email.subject %>&rdquo;
		</h3>
	</div>
	
	<div class="panel-body">
		<%= render 'form' %>
	</div>
</div>